.git
.gitignore
.git/**
Dockerfile
docker-compose.*.yml
.env
.env.*
*.pem
*.key
*.crt
*.tar.gz
.vscode
__pycache__
node_modules
tests/output
data
creditcard.csv
monitoring
monitoring/**
Guide
Guide/**
htmlcov
.dist-info
*.egg-info
.venv
venv_
**/venv/
*.log
*.sqlite3
tmp
build
dist
.DS_Store
